
/*
    speaker-profile styles
    version: 22.02.2016

    speaker-info

    speaker-profile


*/

.hero_inner-speaker .hero__layout {
    padding: 107px 0 28px;
}

/*-----------speaker-info----------*/
.speaker-info .site__title {
    margin: 0 0 9px;
    font-size: 30px;
    line-height: 33px;
}
.speaker-info .social a {
    position: relative;
    left: -4px;
    /* width: 45px; */
    /* height: 45px; */
    font-size: 24px;
    margin: 0 21px;
}
.speaker-info__pic {
    display: block;
    width: 195px;
    margin: 0 auto 37px;
    box-shadow: 0 0 50px 0 rgb( 203, 241, 241 );
}
.speaker-info__pic img {
    display: block;
    width: 100%;
}
.speaker-info__inner {
    /* display: inline-block; */
    width: 280px;
    /* margin-bottom: 29px; */
    margin: 0 auto 29px;
}
.speaker-info__text {
    padding: 0 26px 0;
    font-size: 16px;
    line-height: 20px;
    color: #435965;
}
/*-----------/speaker-info----------*/

/*-----------speaker-profile-----------*/
.speaker-profile .description {
    padding: 64px 15px 44px;
}
.speaker-profile .description .site__title {
    margin: 0 0 51px;
}
.speaker-profile .schedule {
    padding: 52px 0 0px;
    margin: 0 0 -31px;
}
.speaker-profile .schedule__text-block {
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}
.speaker-profile .schedule .site__title {
    margin: 0 0 56px;
    font-size: 30px;
    line-height: 33px;
}
/*-----------/speaker-profile-----------*/

.media-gallery_profile {
    background: #f7f7f7;
    padding: 31px 0 13px;
}
.media-gallery_profile .site__title {
    color: #435965;
    margin-bottom: 60px;
}
.media-gallery_profile .media-gallery__cover {

    width: 315px;
}
.media-gallery_profile .media-gallery__wrap {
    max-width: 1196px;
    margin: 0 auto;
}
.media-gallery_profile .media-gallery__item {
    border-color: #f7f7f7;
    width: 100%;
    padding-bottom: 96%;
}
.media-gallery_profile .media-gallery__item:before {
    display: none;
}
.media-gallery_profile .media-gallery__item_video:before {
    display: block;
}
.media-gallery_profile .media-gallery__item span:after,
.media-gallery_profile .media-gallery__item span:before {
    display: none;
}

@media (min-width: 768px) {

    .hero_inner-speaker .hero__layout {
        padding: 67px 0 47px;
    }

    /*-----------speaker-info----------*/
    .speaker-info {
        padding: 66px 30px 0;
    }
    .speaker-info .site__title {
        margin: 0 0 9px;
    }
    .speaker-info__pic {
        margin: 0 auto 43px;
    }
    .speaker-info__inner {
        width: 420px;
        margin-bottom: 23px;
    }
    .speaker-info__text {
        padding: 0;
    }
    /*-----------/speaker-info----------*/

    /*-----------speaker-profile-----------*/
    .speaker-profile .description {
        padding: 86px 15px 75px;
    }
    .speaker-profile .description .site__title {
        margin: 0 0 15px;
    }
    .speaker-profile .schedule {
        padding: 45px 0 57px;
    }
    .speaker-profile .schedule__text-block {
        font-size: 20px;
        line-height: 38px;
        padding: 0;
    }
    .speaker-profile .schedule .site__title {
        margin: 0 0 62px;
    }
    /*-----------/speaker-profile-----------*/

    .media-gallery_profile {
        padding: 45px 0 24px;
    }
    .media-gallery_profile .site__title {
        margin-bottom: 84px;
    }
    .media-gallery_profile .media-gallery__cover {
        width: 100%;
    }
    .media-gallery_profile .media-gallery__wrap {
        max-width: 1196px;
        margin: 0 auto;
    }
    .media-gallery_profile .media-gallery__item {
        width: 50%;
        padding-bottom: 47.5%;
    }

}

@media (min-width: 1000px) {

    .hero_inner-speaker .hero__layout {

    }

    /*-----------speaker-info----------*/
    .speaker-info {
        padding: 58px 30px 0;
    }
    .speaker-info .site__title {
        margin: 0 0 9px;
    }
    .speaker-info .social a {
        margin: 0 22px 0;
    }
    .speaker-info__pic {
        margin-bottom: 43px;
    }
    /*-----------/speaker-info----------*/

    /*-----------speaker-profile-----------*/
    .speaker-profile .description {
        padding: 94px 15px 79px;
    }
    .speaker-profile .description .site__title {
        margin: 0 0 14px;
    }
    .speaker-profile .schedule {
        padding: 55px 0 90px;
    }
    /*-----------/speaker-profile-----------*/

    .media-gallery_profile {
        background: #f7f7f7;
    }
    .media-gallery_profile .site__title {
        margin-bottom: 41px;
    }
    .media-gallery_profile .media-gallery__cover {

    }
    .media-gallery_profile .media-gallery__wrap {
        max-width: 1196px;
        margin: 0 auto;
    }
    .media-gallery_profile .media-gallery__item {
        border-color: #f7f7f7;
        width: 33%;
        padding-bottom: 31.7%;
    }
    .media-gallery_profile .media-gallery__item:before {
        display: none;
    }
    .media-gallery_profile .media-gallery__item_video:before {
        display: block;
    }
    .media-gallery_profile .media-gallery__item span {
        left: 30px;
        right: 30px;
        background-color: rgba( 255, 255, 255, 0.85 );
        font-size: 16px;
        line-height: 107px;
        color: #435a65;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}
